body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("./Assets/login-bg.jpg");
  background-attachment: fixed;
  background-size: auto;
}

img {
  margin: 20px;
}

h1,
p,
span {
  color: white;
  text-align: center;
}

span{
    font-size: 10px;
}
p, label{
    font-size: 12px;
}

.main-section {
  height: 85vh;
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login-container {
  width: 27vw;
  height: auto;
  background-color: white;
  padding: 30px;
  border-radius: 3%;
}

form {
  display: flex;
  flex-direction: column;
}

.line {
  border-top: 1px solid gainsboro;
}

label {
  padding: 5px 0;
}

input {
  padding: 7px 10px;
  margin: 0 3px 7px 0;
  border: 1px solid gainsboro;
  border-radius: 3px;
}

input:focus{
  outline: none !important;
  border: 1px solid rgb(150, 150, 150);
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance:none;
  background-color: #fff;
  margin: 0;
  padding: 6px;
}

input[type="checkbox"]:checked{
  background-color: rgb(150, 150, 150) !important;
}

.submit-btn {
  width: 80px;
  padding: 8px 10px;
  margin-top: 8px;
  background-color: rgb(104, 137, 236);
  color: white;
  border-style: none;
  border-radius: 5px;
}

.submit-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .main-section {
    width: 80vw;
  }
  .login-container {
    width: 50vw;
  }
}
